/*Styling the top left hamburger header & Background image*/

.header-top {
    background-image: url('../Images/landing.jpg');
    margin-top: -10px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -8px;
    /* Background-image No repeat */
    background-size: cover;
    overflow: hidden;
    
}
/* Styling Hamburger Icon Size & Position */
#hamburger-icon-top > img {
    width: 90px;
    padding-top: 60px;
    padding-left: 90px;


}

/* Styling Big-logo to center */
.big-logo {

    justify-content: center;
    margin: -60px;
    padding: 80px;
    display: flex;

}
/* Styling header Paragraph Text to center*/

#header-paragraph {
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 200px;
    padding-right: 300px;
}
/* Styling breakfast, Lunch & dinner section */

#Happy-Party-time {
    box-sizing: border-box;
    font-size: 33px;
    font-weight: bold;
    height: 211px;
    width: 500px;
    text-align: center;
    margin-top: 9px;
}

/* Styling Happy Hour & Happy Time section */
.Happy-Party {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 38px;
    margin-top: -81px;
    margin-left: -21px;
    margin-right: -8px;
    margin-bottom: auto;
    
    
}
/*Styling Happy time box */
#Happy-T{
    background-color: #f15a29;
    padding:25px;
    text-align: center;
    color: whitesmoke;
    margin-top: -35px;
    height: 10px;
    padding-top: 33px;
    padding-bottom: 42px;


}

/*Styling Happy Hour box ID */
#Happy-H{
    background-color: rgb(238, 230, 230);
    padding: 50px;
    text-align: center;
    height: 5px;
    color: #333;
    padding-top: 23px;
    padding-bottom: 51px;
    
}
/* Styling breakfast No repeat */
#Brekko {
    background-image: url('../Images/breakfast.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin-top: 42px; 
    padding-top: 51px;
    color: white;


}
/* Styling Lunch box section */
#Lunch-1 {
    background-image: url('../Images/lunch.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin-top: 42px; 
    padding-top: 60px;
    color: white;
    margin-left: 50px;
    padding-left: 10px;

}

/* Styling Dinner box section */
#Dinner {
    background-image: url('../Images/dinner.jpg');
    text-align: center;
    width: 600px;
    padding-top: 41px;
    padding-top: 60px;
    color: white;
    margin-top: 42px;

}
/* Styling Fast-Food section */
.fast-food-1 {
    margin-top: 70px;
    display: flex;

}

/* Styling Fast-food-images section */
#fast-food-images {
    width: fit-content;
    flex-direction: column;
    float: left;
    margin-left: 215px;
    margin-right: 65px;
    padding: 15px;
    margin-bottom: 80px;
    box-shadow: rgb(71, 71, 71);
    box-decoration-break: clone;
    box-shadow: 0 0 5px #bd6666;

}

/*Styling Fast food text section */
#fast-food-text {
    padding-right: 35px;
    color: rgb(172, 13, 13);
    h1, h2 {font-size: 57px;
    }

    p{
        font-size: 40px;
    }
}


/* Styling the Gallery button Section */
#Gallery-button-food {
    padding-bottom: 15px;
    color: maroon;
    font-size: 22px;
    box-sizing: content-box;
    border: solid rgb(241, 91, 41) 2px;
    border-radius: 5px;
    margin-left: 880px; 
    float: left;
    margin-right: 250px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    


}..drinks{
    clear: both;
    margin-top: 65px;
}

/* Styles the drinks images section */
#drinks-images{    
    display: flex;
    flex-direction: row;
    width: fit-content;
    float: right;
    margin-left: 80px;
    margin-right: 190px;
    margin-bottom: 105px;
    padding: 20px;
    box-shadow: 0 0 5px #B6B6B6;
}

/* Styles the text */
#drinks-text{
    padding-left: 190px;
    padding-top: 20px;
    color: #505050;
}

/* Styles the button */
#button-drinks{
    color: #f15b29;
    font-size: 24px;
    box-sizing: content-box;
    border: solid #f15b29 1px;
    border-radius: 5px;
    margin-left: 250px;
    margin-right: 800px;
    padding-left: 5px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Adds background */
.slideshow-container{
    clear: both;
    background-image: url(../Images/foodsBg.jpg);

    /* Removes white spacing */
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Styles the background */
.slideshow-box{
    background-color: white;
}

/* Alligns content in columns */
#slideshow-menu{
    display: flex;
    justify-content: space-around;
    color: #505050;
    font-size: 13px;
    background-color: white;
}

/* Styles all the headings in the slideshow menu */
#slideshow-menu > h1:nth-child(2), #slideshow-menu > h1:nth-child(3), #slideshow-menu > h1:nth-child(4){
    box-sizing: content-box;
    border:solid #b6b6b6 1px;
    background-color:#E3E3E3;
    padding-left: 100px;
    padding-right: 106px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Selects the first element */
#slideshow-menu > h1:first-child{
    padding-left: 80px;
    padding-right: 80px;
    color: #f15b29;
}

/* Allows content to ba aligned in columns */
#slideshow-images{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 10px;
}

/* Styles the content in the slidwshow-images */
#slideshow-images > p:nth-child(1), #slideshow-images > p:nth-child(5){
    color: #f15b29;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;

    /* This is for sizing the angle brackets */
    transform: scale(1.5,4);
    font-weight:bolder
}

/* Allows content to be aligned in column */
#slideshow-text{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 60px;
    font-weight: bold;
    color: #f15b29;
}

/* Selects the first paragraph */
#slideshow-text > p:nth-child(1){
    padding-left: 47px;
}

/* Selects the third element which is a paragraph */
#slideshow-text > p:nth-child(3){
    padding-right: 47px;
}

/* Styles the .customer-feedback-section */
.customer-feedback-section{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

/* Alows content to be in a column */
.customer-feedback{
    display:flex;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #b6b6b6;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    padding-bottom: 24px;
}

/* styles the customer-feedback-section h3 and paragraphs */
.customer-feedback > #customers > h3, .customer-feedback > #customers > p, .customer-feedback > #about-menu >p{
    color:#505050;
}

/* Styles the customer-feedback-section container headings */
.customer-feedback > #customers > h1, .customer-feedback > #about-menu > h1{
    color: #f15b29;
}

/* Styles id customers */
#customers{
    padding-right: 48px;
    margin-top: 20px;
}

/* Style's the about menu id */
#about-menu{
    width: 400px;
    padding-left: 42px;
    border-left: solid 3px #E3E3E3;
    padding-left: 24px;
    margin-top: 20px;
}

/* Increases the font-size in the paragaraphs located in id customers */
#customers > p{
    font-size: 18px;
}

/* Styles the About Menu text */
#about-menu > p{
    font-size: 18px;
}

/* Aligns the profile icons in a column */
#profile-pictures{
    display: flex;
    justify-content:center;
}

/* Increases spacing between profile icons */
#profile-pictures > p:first-child, #profile-pictures > img:nth-child(2), #profile-pictures > img:nth-child(3), #profile-pictures > img:nth-child(4){
    padding-right: 20px;
}

#profile-pictures > img:nth-child(2), #profile-pictures > img:nth-child(4){
    height: 52px;
}

/* This is for styling the angle brackets */
#profile-pictures > p:first-child, #profile-pictures > p:last-child{
    color: #f15b29;
    margin-top: 22px;

    /* This is for sizing the angle brackets */
    transform: scale(1.5,4);
    font-weight:bolder
}

/* Footer newsletter styling */

.footer-1{
    background-image:url('../Images/subscribe.jpg');
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Allows newsletter to be placed in the center */
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
}

/* Changes the heading color to white */
.newsletter > h1{
    color: white;
    font-size: 32px;
}

/* increases input size */
input{
    font-size: 20px;
}

/* This styling Adjusts the width, height and color of the text input */
input[type="text"]{
    background: rgba(255, 255, 255, .2);
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    padding-right: 110px;
    padding-left: 20px;
    border-radius: 5px;

}

/* This styling Adjusts the width, height and color of the button */
input[type="button"]{
    color: white;
    background-color: #f15b29;
    height: 50px;
    margin-left: 20px;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

/* 2nd part of the footer */

.footer-2{
    margin-top: 8px;
    background-color: #f15b29;
    background-size: cover;
    overflow: hidden;
    
    /* Removes white spacing around the container*/
    margin-left: -8px; 
    margin-right: -8px;
    margin-bottom: -8px;
    padding-top: 40px;
    padding-bottom: 20px;

    /* Aligns content in the center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles the burger icon and MENU text */
#burger-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    margin-bottom: -12px;
}

/* Styles the burger icon */
#burger-menu > img{
    height: 45px;
    padding-right: 14px;
    margin-top: 30px;
}

/* This styling Increases the MENU title size */
#burger-menu > h1{
    font-size: 44px;
}

/* This styles the Footer-2's second child */
.footer-container > p:nth-child(2){
    color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 0;
}

/* Aligning the icons in a row */
#icons{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/* Styles the text at the bottom*/
.footer-container > p:nth-child(4){
    color: white;
    text-align: center;
    margin-top: 50px;
}