/*Styling the top left hamburger header & Background image*/

.header-top {
    background-image: url('../Images/landing.jpg');
    margin-top: -10px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -8px;
    /* Background-image No repeat */
    background-size: cover;
    overflow: hidden;
    
}
/* Styling Hamburger Icon Size & Position */
#hamburger-icon-top > img {
    width: 90px;
    padding-top: 60px;
    padding-left: 90px;


}

/* Styling Big-logo to center */
.big-logo {

    justify-content: center;
    margin: -60px;
    padding: 80px;
    display: flex;

}
/* Styling header Paragraph Text to center*/

#header-paragraph {
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 200px;
    padding-right: 300px;
}
/* Styling breakfast, Lunch & dinner section */

#Happy-Party-time {
    box-sizing: border-box;
    font-size: 33px;
    font-weight: bold;
    height: 211px;
    width: 500px;
    text-align: center;
    margin-top: 9px;
}

/* Styling Happy Hour & Happy Time section */
.Happy-Party {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 30px;
    margin-top: -80px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: auto;
    
    
}
/*Styling Happy time box */
#Happy-T{
    background-color: #f15a29;
    padding:25px;
    text-align: center;
    color: whitesmoke;
    margin-top: -35px;
    height: 10px;
    padding-top: 33px;
    padding-bottom: 42px;


}

/*Styling Happy Hour box ID */
#Happy-H{
    background-color: rgb(238, 230, 230);
    padding: 50px;
    text-align: center;
    height: 5px;
    color: #333;
    padding-top: 23px;
    padding-bottom: 51px;
    
}
/* Styling breakfast No repeat */
#Brekko {
    background-image: url('../Images/breakfast.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin-top: 42px; 
    padding-top: 58px;
    color: white;


}
/* Styling Lunch box section */
#Lunch-1 {
    background-image: url('../Images/lunch.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin-top: 42px; 
    padding-top: 60px;
    color: white;

}

/* Styling Dinner box section */
#Dinner {
    background-image: url('../Images/dinner.jpg');
    text-align: center;
    width: 600px;
    padding-top: 41px;
    padding-top: 60px;
    color: white;
    margin-top: 42px;

}


}