/*Styling the top left hamburger header & Background image*/

.header-top {
    background-image: url('../Images/landing.jpg');
    margin-top: -10px;
    padding-bottom: 50px;
    width: 100%;
    margin-left: -10px;
    margin-right: -8px;
    /* Background-image No repeat */
    background-size: cover;
    overflow: hidden;
    
}
/* Styling Hamburger Icon Size & Position */
#hamburger-icon-top > img {
    width: 90px;
    padding-top: 60px;
    padding-left: 90px;


}

/* Styling Big-logo to center */
.big-logo {
    width: 250px;
    justify-content: center;

}
